{% extends 'base.html' %}

{% block title %}Confirmar exclusão da produção{% endblock %}

{% block content %}

<h1>Confirmar Exclusão</h1>
<p>Tem certeza que deseja excluir a produção "{{ object.roupa }}"?</p>
<form method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-secondary" value="Sim">
    <a href="{% url 'producao_list' %}" class="btn btn-dark">Não</a>

    {% comment "" %}
    <input type="submit" value="Sim">
    <a href="{% url 'material_detail' object.pk %}">Não</a>
</form>
    {% endcomment %}

{% endblock %}