{% extends 'base.html' %}

{% block title %}Edição do perfil{% endblock %}

{% block content %}
    {% comment %}
    <h1>Editar Perfil de {{ user.username }}</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Salvar Alterações</button>
    </form>

    <a href="{% url 'profile' %}">Voltar para o Perfil</a>
    {% endcomment %}

    <div class="alert alert-secondary" role="alert">
        <h2><strong>Editar Perfil de {{ user.username }}</strong></h2>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
    
            <a type="button" href="{% url 'profile' %}" class="btn btn-outline-dark"><strong>Voltar para o Perfil</strong></a>

            <a type="button" href="{% url 'profile_edit' %}" class="btn btn-dark"><strong>Salvar Alterações</strong></a>
            </form>
        </li>
      </ul>
{% endblock %}