{% extends 'base.html' %}

{% block title %}Detalhes da roupa{% endblock %}

{% block content %}

{% comment %}
<h2>{{ object.nome}}</h2>
<p><strong>Descrição:</strong> {{ object.descricao }}</p>
<p><img src="{{object.imagem.url}}" alt="{{ musica.titulo }}" width=100></p>

<h4>Materiais:</h4>
<ul>
    {% for material in object.materiais.all %}
        <li>{{ material.nome }} </li>
    {% endfor %}
</ul>
{% endcomment %}

<div class="alert alert-secondary" role="alert">
    <h2><strong>{{ object.nome}}</strong></h2>
</div>

<ul class="list-group">
    <li class="list-group-item"><p><strong>Descrição:</strong> {{ object.descricao }}</p></li>
    <li class="list-group-item"><p><img src="{{object.imagem.url}}" alt="{{ musica.titulo }}" width=300></p></li>
</ul>

<h4 class="mt-3">Materiais:</h4>


<div class="row">
        {% for material in materiais %}
            <div class="mt-2">
                <p><strong>Material:</strong> {{ material.material.nome }}</p>
                <p><strong>Quantidade:</strong> {{ material.quantidade }} </p>
            </div>
            <hr>
        {% empty %}
            <p>Não há materiais cadastrados.</p>
        {% endfor %}
    </div>


{% endblock %}