{% extends 'base.html' %}

{% block title %}Detalhes da movimentação{% endblock %}

{% block content %}

{% comment %}
<p>Nome do material: {{ object.codigo_material }}</p>
<p>Código da roupa: {{ object.codigo_roupa }}</p>
<p><strong>Quantidade:</strong> {{ object.quantidade}}</p>
<p><strong>Data:</strong> {{ object.data}}</p>
<p><strong>Valor total:</strong> {{ object.valor_total}}</p>
{% endcomment %}

<div class="alert alert-secondary" role="alert">
    <h2><strong>{{ object.codigo_material}}</strong></h2>
</div>
<ul class="list-group">
    <li class="list-group-item"><p><strong>Quantidade:</strong> {{ object.quantidade}}</p></li>
    <li class="list-group-item"><p><strong>Data:</strong> {{ object.data}}</p></li>
    <li class="list-group-item"><p><strong>Valor total:</strong> {{ object.valor_total}}</p></li>
  </ul>


{% endblock %}